* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh; /*viewport means full height of the browser window*/ /*if 100% means full height of the parent element*/
  background: url(img.png) no-repeat;
  background-size: cover;
}
.box {
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px #89c9f3, -2px -2px 5px #89c9f3;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  padding: 20px 40px;
}

.signup-header h1,
h2 {
  font-size: 2.2rem; /*35.2px*/
  text-align: center;
  padding: 5px 8px;
  margin-block: 10px;
}
.signup-header h1 {
  font-size: 2.5rem; /*40px*/
}

.signup-body p {
  margin-top: 20px;
  position: relative;
}
.signup-body p i {
  color: #000;
  position: absolute;
  top: 34px;
  right: 5px;
  font-size: 20px;
}
.signup-body p label {
  font-size: 18px;
  font-weight: 600;
}
.signup-body p span {
  color: lightgreen;
  font-size: 18px;
  font-weight: 600;
}
.signup-body p input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  margin-block: 4px;
  border: none;
  outline: none;
  color: black;
}

.signup-body p input[type="submit"] {
  border: none;
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.signup-body p input[type="submit"]:hover {
  background-color: #2779a5;
}

.signup-footer p {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}
.signup-footer p a {
  text-decoration: none;
}
.signup-footer p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 403px) and (max-height: 875px) {
  .container .box {
    width: 90%;
    padding: 20px;
  }
}
